@font-face {
  font-family: "Interval Pro";
  src: url("https://db.onlinewebfonts.com/t/220648133afa634cc845cc9487b23e94.eot");
  src: url("https://db.onlinewebfonts.com/t/220648133afa634cc845cc9487b23e94.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/220648133afa634cc845cc9487b23e94.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/220648133afa634cc845cc9487b23e94.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/220648133afa634cc845cc9487b23e94.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/220648133afa634cc845cc9487b23e94.svg#Interval Pro") format("svg");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Interval Pro", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #B0BEC5;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

.aurora-container {
  width: 100%;
  border-radius: 20px !important;
  height: 100%;
}


.bg-grad-pp{
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}